@model BVS.Models.Entity.Parceria.InicioParceria

@{
    ViewData["Title"] = "ObterPorId";
}
<div class="d-flex justify-content-between align-content-center pt-3 pb-2">
    <h1>Detalhes da Parceria</h1>
    <a class="btn btn-primary btn-lg" asp-action="ObterTodos">Voltar</a>
</div>

<div>
    <div class="card">
        <div class="card-header">Parceria e Associado</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Comprador)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Comprador.Nome)"/>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Associado)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Associado.Nome)"/>
                </div>
            </div>
                    
        </div>
    </div>
    <div class="card">
        <div class="card-header">Dados do Início da Parceria</div>
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Lote)</label>
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.Lote)"/>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.PesoBruto)</label>
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.PesoBruto)"/>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body row">
            <div class="col-md">
                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.RendimentoCarcaca)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.RendimentoCarcaca)"/>
                </div>                
                <div class="form-group">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Arroba)</label>
                    <input disabled class="form-control" value="@Html.DisplayFor(model => model.Arroba)"/>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Classificacao)</label>
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.Classificacao)"/>
                </div>
                <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.CompraVenda)</label>
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.CompraVenda)"/>
                </div>
            </div> 
            <div class="col-md">
               <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Quantidade)</label>
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.Quantidade)"/>
                </div>
                        
                <div id="date" class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.DataInicioParceria)</label>
                <input disabled class="form-control" value="@String.Format("{0:dd/MM/yyyy}", Model.DataInicioParceria)"/>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Origem)</label>
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.Origem)"/>
                </div>
                <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Valor)</label>
                <input disabled class="form-control" value="@Html.DisplayFor(model => model.Valor)"/>
                </div>
            </div>

        </div>
    </div>    
</div>
<br />
<div> @*m-1  "@(new SelectList(ViewBag.selectAssociado, "Value", "Text"))"   @Html.DisplayFor(model => model.DataInicioParceria)*@
    <a class="btn btn-success btn-lg" asp-action="Atualizar" asp-route-id="@Model?.BoiId">Atualizar</a>    
</div>
